<main class="mt-5 pt-4">
  <div class="container wow fadeIn">
    <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">
      <div class="col-sm-12 text-center">
        <h2>MY ORDERS</h2>
      </div>
    </nav>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="card">
          <div class="card-wrapper">
            <div class="accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
              <div class="card" *ngFor="let order of orders">
                <div class="card-header" role="tab" id="headingTwo">
                  <a class="collapsed" data-toggle="collapse" href="#{{order.order_no}}" aria-expanded="false" aria-controls="collapseTwo">
                    <h5 class="mb-0">
                      {{order.order_no}}
                      <i class="fa fa-angle-down rotate-icon"></i>
                    </h5>
                  </a>
                </div>
                <div id="{{order.order_no}}" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordionEx">
                  <div class="card-body">
                    <div *ngFor="let prod of order.products">
                      <h5>{{prod.name}}</h5>
                      <div class="row">
                        <div class="col-sm-4">
                          <img src="{{prod.image}}" alt="{{prod.name}}" height="100px;">
                        </div>
                        <div class="col-sm-8">
                          <p>Category: {{prod.category}}</p>
                          <p>Sub Category: {{prod.sub_category}}</p>
                          <p>Product Price: ${{prod.price}}</p>
                          <p>Total Quantity: {{prod.quantity}}</p>
                          <p>Off: {{prod.off}}%</p>
                          <p>Total Price: ${{prod.total_price}}</p>
                        </div>
                      </div>
                    </div>
                    <h5>Total Calculated Price: ${{order.total_price}} </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</main>