<main class="mt-5 pt-4">
  <div class="container wow fadeIn">
    <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">
      <div class="col-sm-12 text-center">
        <h2>CONTACT US</h2>
      </div>
    </nav>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <form class="card-body" #contact_us="ngForm" (ngSubmit)="onContactUsSubmit(contact_us.value)">
            <div class="row">
              <div class="col-sm-8">
                <div class="row">
                  <div class="col-md-6">
                    <div class="md-form">
                      <input type="text" id="contact_name" name="contact_name" class="form-control" #contact_name="ngModel" maxlength="50" ngModel
                        required>
                      <label for="contact_name" class="">Your Name
                        <i class="mob_msg">*</i>
                      </label>
                    </div>
                    <div *ngIf="contact_name.touched">
                      <div *ngIf="contact_name.errors?.required" class="error-alert">
                        <i>Please enter Your Name.</i>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="md-form">
                      <input type="email" id="contact_email" name="contact_email" class="form-control" #contact_email="ngModel" ngModel required
                        maxlength="50" pattern="^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$">
                      <label for="contact_email" class="">Your Email
                        <i class="mob_msg">*</i>
                      </label>
                    </div>
                    <div *ngIf="contact_email.touched">
                      <div *ngIf="contact_email.errors?.required" class="error-alert">
                        <i>Please enter Email.</i>
                      </div>
                      <div *ngIf="contact_email.errors?.pattern" class="error-alert">
                        <i>Please enter valid Email.</i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="md-form">
                      <input type="text" id="contact_subject" name="contact_subject" class="form-control" #contact_subject="ngModel" maxlength="50"
                        ngModel required>
                      <label for="contact_subject" class="">Your Subject
                        <i class="mob_msg">*</i>
                      </label>
                    </div>
                    <div *ngIf="contact_subject.touched">
                      <div *ngIf="contact_subject.errors?.required" class="error-alert">
                        <i>Please enter Your Subject.</i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="md-form">
                      <textarea id="contact_message" name="contact_message" #contact_message="ngModel" [(ngModel)]="user == null ? '' : user.address"
                        class="md-textarea form-control contact_message" required></textarea>
                      <label for="contact_message" class="">Your Message
                        <i class="mob_msg">*</i>
                      </label>
                    </div>
                    <div *ngIf="contact_message.touched">
                      <div *ngIf="contact_message.errors?.required" class="error-alert">
                        <i>Please enter Your Message.</i>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="contact_us.invalid">submit</button>
              </div>
              <div class="col-sm-4">
                <ul class="list-unstyled mb-0">
                  <li>
                    <div class="text-center">
                      <i class="fa fa-map-marker fa-2x" style="color: #007bff;"></i>
                      <p>San Francisco, CA 94126, USA</p>
                    </div>
                  </li>
                  <li>
                    <div class="text-center">
                      <i class="fa fa-phone mt-4 fa-2x" style="color: #007bff;"></i>
                      <p>+ 01 234 567 89</p>
                    </div>
                  </li>
                  <li>
                    <div class="text-center">
                      <i class="fa fa-envelope mt-4 fa-2x" style="color: #007bff;"></i>
                      <p>
                        <a href="mailto:contact@plunkshopping.com">contact@plunkshopping.com</a>
                      </p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>