<div class="row">
  <div class="col-sm-12">
    <h3>Order</h3>
  </div>
  <a routerLink="/admin/orders" class="btn btn-info">Back</a>
</div>
<div class="row">
  <div class="col-sm-12">
    <h1>{{order.order_no}}</h1>
    <div *ngFor="let prod of order.products">
      <h5>{{prod.name}}</h5>
      <div class="row">
        <div class="col-sm-4">
          <img src="{{prod.image}}" alt="{{prod.name}}" height="100px;">
        </div>
        <div class="col-sm-8">
          <p>Category: {{prod.category}}</p>
          <p>Sub Category: {{prod.sub_category}}</p>
          <p>Product Price: ${{prod.price}}</p>
          <p>Total Quantity: {{prod.quantity}}</p>
          <p>Off: {{prod.off}}%</p>
          <p>Total Price: ${{prod.total_price}}</p>
        </div>
      </div>
    </div>
    <h5>Total Calculated Price: ${{order.total_price}} </h5>
  </div>
</div>