<div class="row">
  <div class="col-sm-12">
    <div>
      <h1>New Category</h1>
    </div>
    <a routerLink="/admin/categories" class="btn btn-info">Back</a>
    <form class="card-body" #category_form="ngForm" (ngSubmit)="onCategoryFormSubmit(category_form.value)">
      <input type="hidden" class="form-control" name="id" #id="ngModel" [(ngModel)]="category === null ? '' : category.id">
      <div class="row">
        <div class="col-md-12">
          <div class="md-form">
            <input type="text" id="category_name" name="category_name" class="category_name form-control" #category_name="ngModel" [(ngModel)]="category == null ? '' : category.name"
              required maxlength="50">
            <label for="category_name" class="">Category
              <i class="mob_msg">*</i>
            </label>
          </div>
          <div *ngIf="category_name.touched">
            <div *ngIf="category_name.errors?.required" class="error-alert">
              <i>Please enter Category.</i>
            </div>
          </div>
        </div>
      </div>
      <hr class="mb-4">
      <button class="btn btn-info btn-lg btn-block" type="submit" [disabled]="category_form.invalid">Submit</button>
    </form>
  </div>
</div>