<div class="row">
  <div class="col-sm-12">
    <h3>Product Details</h3>
  </div>
  <a routerLink="/admin/products" class="btn btn-info">Back</a>
</div>
<div class="row">
  <div class="col-sm-6">
    Product Name
  </div>
  <div class="col-sm-6">
    {{product[0].name}}
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    Product Category
  </div>
  <div class="col-sm-6">
    {{product[2]}}
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    Product Sub Category
  </div>
  <div class="col-sm-6">
    {{product[3]}}
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    Product Price($)
  </div>
  <div class="col-sm-6">
    {{product[0].price}}
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    Product Rating
  </div>
  <div class="col-sm-6">
    {{product[0].rating}}
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    Product Offer(%)
  </div>
  <div class="col-sm-6">
    {{product[0].off}}
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    Product Max. Quantity
  </div>
  <div class="col-sm-6">
    {{product[0].max_quantity}}
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    Product Description
  </div>
  <div class="col-sm-6">
    {{product[0].description}}
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    Product Image
  </div>
  <div class="col-sm-6">
    <img src="{{product[1]}}" alt="prd-img" srcset="">
  </div>
</div>