<main class="mt-5 pt-4">
  <div class="container wow fadeIn">
    <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">
      <div class="col-sm-12 text-center">
        <h2>ORDER CHECKOUT</h2>
      </div>
    </nav>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <main class="mt-5 pt-4">
            <div class="container wow fadeIn">
              <div class="row">
                <div class="col-md-12 mb-4">
                  <div class="accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
                    <div class="card">
                      <div class="card-header" role="tab" id="headingOne">
                        <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          <h5 class="mb-0">
                            CHANGE ADDRESS
                            <i class="fa fa-angle-down rotate-icon"></i>
                          </h5>
                        </a>
                      </div>
                      <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordionEx">
                        <div class="card-body">
                          <form #update_address="ngForm" (ngSubmit)="onChangeAddress(update_address.value)" class="card-body">
                            <div class="row">
                              <div class="col-md-12 mb-2">
                                <div class="md-form ">
                                  <textarea id="sign_up_address" name="sign_up_address" #sign_up_address="ngModel" [(ngModel)]="user == null ? '' : user.address"
                                    class="md-textarea form-control sign_up_address"></textarea>
                                  <label for="sign_up_address" class="">Shipping Address</label>
                                </div>
                              </div>
                            </div>
                            <button class="btn btn-primary btn-lg" type="submit">CHANGE ADDRESS</button>
                          </form>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" role="tab" id="headingTwo">
                        <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          <h5 class="mb-0">
                            CHECKOUT ORDER
                            <i class="fa fa-angle-down rotate-icon"></i>
                          </h5>
                        </a>
                      </div>
                      <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordionEx">
                        <div class="card-body">
                          <table class="table product-table animated shake">
                            <thead class="mdb-color lighten-5">
                              <tr>
                                <th class="font-weight-bold">
                                  <strong>Product Image</strong>
                                </th>
                                <th class="font-weight-bold">
                                  <strong>Name</strong>
                                </th>
                                <th></th>
                                <th class="font-weight-bold">
                                  <strong>Price</strong>
                                </th>
                                <th class="font-weight-bold">
                                  <strong>QTY</strong>
                                </th>
                                <th class="font-weight-bold">
                                  <strong>Amount</strong>
                                </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let cart_item of cart_items">
                                <th scope="row">
                                  <img src="{{cart_item.image}}" alt="{{cart_item.image_file_name}}" class="img-fluid z-depth-0">
                                </th>
                                <td>
                                  <h5 class="mt-3">
                                    <strong>{{cart_item.name}}</strong>
                                  </h5>
                                  <p class="text-muted">{{cart_item.brand}}</p>
                                </td>
                                <td></td>
                                <td>
                                  <h5>${{cart_item.price}}</h5>
                                </td>
                                <td>
                                  <h5>{{cart_item.quantity}}</h5>
                                </td>
                                <td class="font-weight-bold">
                                  <h5>
                                    <strong>${{cart_item.tot_price}}</strong>
                                  </h5>
                                </td>
                              </tr>
                              <tr>
                                <td colspan="2"></td>
                                <td>
                                  <h4 class="mt-2">
                                    <strong>Total</strong>
                                  </h4>
                                </td>
                                <td class="text-right">
                                  <h4 class="mt-2">
                                    <strong>${{total_prise}}</strong>
                                  </h4>
                                </td>
                                <td colspan="3" class="text-right">
                                  <button type="button" class="btn btn-primary btn-rounded" (click)="orderCheckout()">Checkout Order
                                    <i class="fa fa-angle-right right"></i>
                                  </button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </main>
        </div>
      </div>
    </div>
  </div>
</main>