<header>
  <nav class="admin-navbar navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container-fluid">
      <a class="navbar-brand waves-effect" href="https://mdbootstrap.com/material-design-for-bootstrap/" target="_blank">
        <strong class="blue-text">PLUNK SHOPPING</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a href="https://www.facebook.com" class="nav-link waves-effect" target="_blank">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li class="nav-item">
            <a href="https://twitter.com" class="nav-link waves-effect" target="_blank">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li class="nav-item" (click)="onLogout()">
            <a class="nav-link">
              <i class="fa fa-sign-out" aria-hidden="true"></i>
              Logout
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="sidebar-fixed position-fixed">
    <a class="logo-wrapper waves-effect">
      <img src="../../../assets/img/logo.png" class="img-fluid" alt="">
    </a>
    <div class="list-group list-group-flush">
      <a href="#" class="list-group-item active waves-effect">
        <i class="fa fa-pie-chart mr-3"></i>Dashboard
      </a>
      <a *ngFor="let menu of menus" routerLink="{{menu[1]}}" class="list-group-item list-group-item-action waves-effect">
        {{menu[0]}}
      </a>
    </div>
  </div>
</header>

<main class="pt-5 mx-lg-5 admin-main">
  <div class="container-fluid mt-5">
    <div *ngIf="_router.url === '/'" class="card mb-4 wow fadeIn">
      <div class="card-body d-sm-flex justify-content-between">
        <h4 class="mb-2 mb-sm-0 pt-1">
          <a href="https://mdbootstrap.com/material-design-for-bootstrap/" target="_blank">Plunk Shopping</a>
        </h4>
        <form class="d-flex justify-content-center">
          <input type="search" placeholder="Type your query" aria-label="Search" class="form-control">
          <button class="btn btn-primary btn-sm my-0 p" type="submit">
            <i class="fa fa-search"></i>
          </button>
        </form>
      </div>
    </div>

    <div *ngIf="_router.url === '/'" class="row wow fadeIn">
      <div class="col-md-12 mb-4">
        <div class="card">
          <div class="card-body">
            <canvas id="myChart"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="row wow fadeIn">
      <div class="col-md-12 mb-4">
        <div class="card">
          <div class="card-body">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<footer class="admin-page-footer text-center font-small primary-color-dark darken-2 mt-4 wow fadeIn">
  <hr class="my-4">
  <div class="pb-4">
    <a href="https://www.facebook.com/mdbootstrap" target="_blank">
      <i class="fa fa-facebook mr-3"></i>
    </a>

    <a href="https://twitter.com/MDBootstrap" target="_blank">
      <i class="fa fa-twitter mr-3"></i>
    </a>

    <a href="https://www.youtube.com/watch?v=7MUISDJ5ZZ4" target="_blank">
      <i class="fa fa-youtube mr-3"></i>
    </a>

    <a href="https://plus.google.com/u/0/b/107863090883699620484" target="_blank">
      <i class="fa fa-google-plus mr-3"></i>
    </a>

    <a href="https://dribbble.com/mdbootstrap" target="_blank">
      <i class="fa fa-dribbble mr-3"></i>
    </a>

    <a href="https://pinterest.com/mdbootstrap" target="_blank">
      <i class="fa fa-pinterest mr-3"></i>
    </a>

    <a href="https://github.com/mdbootstrap/bootstrap-material-design" target="_blank">
      <i class="fa fa-github mr-3"></i>
    </a>

    <a href="http://codepen.io/mdbootstrap/" target="_blank">
      <i class="fa fa-codepen mr-3"></i>
    </a>
  </div>
  <div class="footer-copyright py-3">
    © 2018 Copyright:
    <a href="http://www.cryptextechnologies.com/" target="_blank">www.cryptextechnologies.com</a>
  </div>
</footer>