<main class="mt-5 pt-4">
  <div class="container wow fadeIn">
    <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">
      <div class="col-sm-12 text-center">
        <h2>MY CART</h2>
      </div>
    </nav>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="container dark-grey-text mt-5">
            <div class="row wow fadeIn">
              <div class="col-md-6 mb-4">
                <img src="{{product[1]}}" class="img-fluid animated bounce" alt="" style="height: 400px;">
              </div>
              <div class="col-md-6 mb-4">
                <div class="font-weight-bold mb-3">
                  <h1 class="animated bounce">
                    <b>{{product[0].name}}</b>
                    <form class="d-flex justify-content-left animated pulse">
                      <input type="number" min="1" max="10" value="1" aria-label="Search" name="quantity" class="form-control" style="width: 100px"
                        [(ngModel)]="quantity" onkeydown="return false">
                      <a (click)="add_to_cart(quantity)" class="btn btn-primary btn-md my-0 p" type="submit">Add to cart
                        <i class="fa fa-shopping-cart ml-1"></i>
                      </a>
                    </form>
                  </h1>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a href="https://www.facebook.com/sharer/sharer.php?u={{'http://localhost:4200/user/product-details/'+product[0].id}}&description=''"
                        target="_blank" class="icons-sm fb-ic" title="Share on Facebook">
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="http://twitter.com/share?text=Share this product on Twitter&url={{'http://localhost:4200/user/product-details/'+product[0].id}}"
                        class="icons-sm tw-ic" title="Share on Twitter" target="_blank">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="https://plus.google.com/share?url={{'http://localhost:4200/user/product-details/'+product[0].id}}" class="icons-sm gplus-ic"
                        target="_blank" title="Share on Google-Plus">
                        <i class="fa fa-google-plus"></i>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="p-4">
                  <p class="lead animated bounce">Price
                    <span class="green-text font-weight-bold">
                      ${{product[0].price}}
                    </span>
                  </p>
                  <p class="lead animated bounce">Category:
                    <span class="lead font-weight-bold animated bounce">{{product[2]}}</span>
                  </p>
                  <p class="lead animated bounce">Sub Category:
                    <span class="lead font-weight-bold animated bounce">{{product[3]}}</span>
                  </p>
                  <p class="lead animated bounce">Brand:
                    <span class="lead font-weight-bold animated bounce">{{product[0].brand}}</span>
                  </p>
                  <p class="lead animated bounce">Off(%)
                    <span class="lead font-weight-bold animated bounce">{{product[0].off}}</span>
                  </p>
                  <p class="lead animated bounce">Description
                    <span class="lead font-weight-bold animated bounce">{{product[0].description}}</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="container dark-grey-text mt-5">
            <div id="disqus_thread"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>