<main class="mt-5 pt-4">
  <div class="container wow fadeIn">
    <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">
      <div class="col-sm-12 text-center">
        <h2>SIGN IN</h2>
      </div>
    </nav>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="card">
          <form class="card-body" #signin_user="ngForm" (ngSubmit)="on_signin_submit(signin_user.value)">
            <div class="row">
              <div class="col-md-12">
                <div class="md-form ">
                  <i class="fa fa-envelope prefix grey-text">
                  </i>
                  <input type="email" id="sign_in_email" name="sign_in_email" class="form-control" #sign_in_email="ngModel" ngModel required
                    maxlength="50" pattern="^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$">
                  <label for="firstName" class="">Email
                    <i class="mob_msg">*</i>
                  </label>
                </div>
                <div *ngIf="sign_in_email.touched">
                  <div *ngIf="sign_in_email.errors?.required" class="error-alert">
                    <i>Please enter Email.</i>
                  </div>
                  <div *ngIf="sign_in_email.errors?.pattern" class="error-alert">
                    <i>Please enter valid Email.</i>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="md-form">
                  <i class="fa fa-lock prefix grey-text"></i>
                  <input type="password" id="sign_in_password" name="sign_in_password" class="form-control" #sign_in_password="ngModel" maxlength="50"
                    ngModel required>
                  <label for="firstName" class="">Password
                    <i class="mob_msg">*</i>
                  </label>
                </div>
                <div *ngIf="sign_in_password.touched">
                  <div *ngIf="sign_in_password.errors?.required" class="error-alert">
                    <i>Please enter Password.</i>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="md-form ">
                  <div>
                    <p>Not a member?
                      <a routerLink="/user/sign-up">Sign Up</a>
                      <b> || </b> Forgot
                      <a href="javascript:void(0)" data-toggle="modal" data-target="#basicExampleModal">Password?</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="signin_user.invalid">SIGN IN</button>
          </form>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</main>

<!-- Modal -->
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Forgot Password</h5>
        <button type="button" class="close forget_password_close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="card-body" #forgot_password="ngForm" (ngSubmit)="on_forgot_password_submit(forgot_password.value)">
          <div class="row">
            <div class="col-md-12">
              <div class="md-form">
                <input type="text" id="fp_email" name="fp_email" class="fp_email form-control" #fp_email="ngModel" ngModel required maxlength="50"
                  pattern="^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$">
                <label for="fp_email" class="">Email
                  <i class="mob_msg">*</i>
                </label>
              </div>
              <div *ngIf="fp_email.touched">
                <div *ngIf="fp_email.errors?.required" class="error-alert">
                  <i>Please enter Email.</i>
                </div>
                <div *ngIf="fp_email.errors?.pattern" class="error-alert">
                  <i>Please enter valid Email.</i>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" [disabled]="forgot_password.invalid">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>