<div class="row" *ngIf="_loading">
  <div class="col-sm-12">
    <div class="text-center">
      <img src="../../../assets/img/loader.gif" alt="Loading..." style="width: 150px;">
    </div>
  </div>
</div>
<div class="row" *ngIf="!_loading">
  <div class="col-sm-12">
    <div>
      <h1>Orders</h1>
    </div>
    <table class="table table-striped" id="orders_list">
      <thead class="blue-grey lighten-4">
        <tr>
          <th>
            <b>Id</b>
          </th>
          <th>
            <b>Order Number</b>
          </th>
          <th>
            <b>Edit / View / Delete</b>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <th>{{order.id}}</th>
          <td>{{order.order_number}}</td>
          <td>
            <!-- <a routerLink="/admin/orders/edit/{{order.id}}" class="btn-floating btn-sm purple-gradient">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </a> -->
            <a routerLink="/admin/orders/show/{{order.id}}" class="btn-floating btn-sm index_show">
              <i class="fa fa-user" aria-hidden="true"></i>
            </a>
            <!-- <a href="javascript:void(0)" (click)=delete_order(order.id) class="btn-floating btn-sm peach-gradient" disabled>
              <i class="fa fa-times" aria-hidden="true"></i>
            </a> -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>