<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
  <div class="container">
    <a class="navbar-brand waves-effect" href="/">
      <strong class="blue-text">
        <img src="../assets/img/logo.png" class="logo" alt="logo">
      </strong>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li>
          <form class="form-inline">
            <div class="md-form my-0">
              <input id="form-autocomplete" class="form-control mr-sm-2" type="text" placeholder="Search Product" name="search_product"
                #search_product="ngModel" [(ngModel)]="search_data" aria-label="Search" style="width: 500px;" (keyup)="onSearchKey($event)">
              <ul *ngIf="searchBlankData === true" class="search-autocomplete">
                <li class="li-search-autocomplete">
                  <i>Product Not Found!</i>
                </li>
              </ul>

              <ul *ngIf="searchData !== null" class="search-autocomplete">
                <li *ngFor="let sitem of searchData" (click)="getProduct(sitem._source)" class="li-search-autocomplete">{{sitem._source.name}}</li>
              </ul>
            </div>
          </form>
        </li>
        <li *ngIf="user_type === null" class="nav-item {{_router.url === '/user/sign-in' ? 'active' : ''}}">
          <a routerLink="/user/sign-in" class="nav-link waves-effect">Sign In</a>
        </li>
        <li *ngIf="user_type === null" class="nav-item {{_router.url === '/user/sign-up' ? 'active' : ''}}">
          <a routerLink="/user/sign-up" class="nav-link waves-effect">Sign Up</a>
        </li>
        <li *ngIf="user_type !== null" class="nav-item">
          <div class="btn-group">
            <a class="nav-link waves-effect dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user"></i> My Profile
            </a>
            <div class="dropdown-menu">
              <a routerLink="/user/my-profile" class="dropdown-item" href="">
                <i class="fa fa-user"></i> {{user.first_name | uppercase}}
              </a>
              <a class="dropdown-item" href="" (click)="onLogout()">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
                Logout
              </a>
            </div>
          </div>
        </li>
        <li *ngIf="user_type !== null" class="nav-item {{_router.url === '/user/sign-up' ? 'active' : ''}}">
          <a routerLink="/user/my-orders" class="nav-link waves-effect">My Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect" routerLink="/user/about-us">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect" routerLink="/user/contact-us">Contact Us</a>
        </li>
      </ul>
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item">
          <a routerLink="/user/cart" class="nav-link waves-effect">
            <span class="badge red z-depth-1 mr-1 cart-item-counts">{{cart_items_count}}</span>
            <i class="fa fa-shopping-cart"></i>
            <span class="clearfix d-none d-sm-inline-block"> Cart </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div *ngIf="_router.url === '/'" id="carousel-example-1z" class="carousel slide carousel-fade pt-4" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-1z" data-slide-to="1"></li>
    <li data-target="#carousel-example-1z" data-slide-to="2"></li>
    <li data-target="#carousel-example-1z" data-slide-to="3"></li>
    <li data-target="#carousel-example-1z" data-slide-to="4"></li>
    <li data-target="#carousel-example-1z" data-slide-to="5"></li>
    <li data-target="#carousel-example-1z" data-slide-to="6"></li>
  </ol>



  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="view" style="background-image: url('../../../assets/img/1.jpeg'); background-size: 100% 100%; margin: auto;">
        <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">
          <div class="text-center white-text mx-5 wow fadeIn">
            <!-- <h1 class="mb-4">
              <strong>Learn Bootstrap 4 with MDB</strong>
            </h1>
            <p>
              <strong>Best & free guide of responsive web design</strong>
            </p>
            <p class="mb-4 d-none d-md-block">
              <strong>The most comprehensive tutorial for the Bootstrap 4. Loved by over 500 000 users. Video and written
                versions available. Create your own, stunning website.</strong>
            </p>
            <a target="_blank" href="https://mdbootstrap.com/bootstrap-tutorial/" class="btn btn-outline-white btn-lg">Start
              free tutorial
              <i class="fa fa-graduation-cap ml-2"></i>
            </a> -->
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="view" style="background-image: url('../../../assets/img/2.jpeg'); background-size: 100% 100%; margin: auto;">
        <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">
          <div class="text-center white-text mx-5 wow fadeIn">
            <!-- <h1 class="mb-4">
              <strong>Learn Bootstrap 4 with MDB</strong>
            </h1>
            <p>
              <strong>Best & free guide of responsive web design</strong>
            </p>
            <p class="mb-4 d-none d-md-block">
              <strong>The most comprehensive tutorial for the Bootstrap 4. Loved by over 500 000 users. Video and written
                versions available. Create your own, stunning website.</strong>
            </p> -->
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="view" style="background-image: url('../../../assets/img/3.jpeg'); background-size: 100% 100%; margin: auto;">
        <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">
          <div class="text-center white-text mx-5 wow fadeIn">
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="view" style="background-image: url('../../../assets/img/4.jpeg'); background-size: 100% 100%; margin: auto;">
        <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">
          <div class="text-center white-text mx-5 wow fadeIn">
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="view" style="background-image: url('../../../assets/img/5.jpeg'); background-size: 100% 100%; margin: auto;">
        <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">
          <div class="text-center white-text mx-5 wow fadeIn">
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="view" style="background-image: url('../../../assets/img/6.jpeg'); background-size: 100% 100%; margin: auto;">
        <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">
          <div class="text-center white-text mx-5 wow fadeIn">
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="view" style="background-image: url('../../../assets/img/7.jpeg'); background-size: 100% 100%; margin: auto;">
        <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">
          <div class="text-center white-text mx-5 wow fadeIn">
          </div>
        </div>
      </div>
    </div>

  </div>



  <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>


</div>
<main *ngIf="_router.url === '/'">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="basicExampleNav">
        <span class="navbar-brand">Categories:</span>
        <select class="browser-default form-control search-by" name="category_id" id="category_id" (change)="changeCategory($event)">
          <option value="" selected>All</option>
          <option *ngFor="let category of all_categories" value="{{category[1]}}">
            {{category[0]}}
          </option>
        </select>
        <span class="navbar-brand">&nbsp;&nbsp;&nbsp;&nbsp;Sub Categories:</span>
        <select class="browser-default form-control search-by" name="category_id" id="sub_category_id" (change)="changeSubCategory($event)">
          <option value="" selected>Choose Sub Category</option>
          <option *ngFor="let sub_category of sub_categories" value="{{sub_category[1]}}">
            {{sub_category[0]}}
          </option>
        </select>
      </div>
    </nav>
    <div class="row" *ngIf="_loading">
      <div class="col-sm-12">
        <div class="text-center">
          <img src="../../../assets/img/loader.gif" alt="Loading..." style="width: 150px;">
        </div>
      </div>
    </div>
    <section *ngIf="!_loading" class="text-center mb-4">
      <div class="row" *ngIf="no_products">
        <div class="col-sm-12">
          <div class="text-center">
            <img src="../../../assets/img/no-product-found.png" alt="Loading..." style="width: 150px;">
          </div>
        </div>
      </div>
      <div>

        <div *ngFor="let products of all_products" class="row wow fadeIn">
          <div *ngFor="let product of products" class="col-lg-3 col-md-6 mb-4">
            <div class="card">
              <a routerLink="/user/product-details/{{product.id}}">
                <div class="view zoom">
                  <img src="{{product.image}}" class="card-img-top" alt="" width="200" height="250">
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
                <div class="card-body text-center">
                  <a href="" class="grey-text">
                    <h5>{{product.category}}</h5>
                  </a>
                  <h5 class="wrap-product-name" title="{{product.name}}">
                    <strong>
                      <a href="" class="dark-grey-text">{{product.name}}
                      </a>
                    </strong>
                  </h5>
                  <h4 class="font-weight-bold blue-text">
                    <strong>${{product.price}}</strong>
                  </h4>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
<div class="container _container">
  <div class="row">
    <div class="col-sm-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<footer class="page-footer text-center font-small mt-4 wow fadeIn">
  <hr class="my-4">
  <div class="pb-4">
    <a href="https://www.facebook.com/mdbootstrap" target="_blank">
      <i class="fa fa-facebook mr-3"></i>
    </a>
    <a href="https://twitter.com/MDBootstrap" target="_blank">
      <i class="fa fa-twitter mr-3"></i>
    </a>
    <a href="https://www.youtube.com/watch?v=7MUISDJ5ZZ4" target="_blank">
      <i class="fa fa-youtube mr-3"></i>
    </a>
    <a href="https://plus.google.com/u/0/b/107863090883699620484" target="_blank">
      <i class="fa fa-google-plus mr-3"></i>
    </a>
    <a href="https://dribbble.com/mdbootstrap" target="_blank">
      <i class="fa fa-dribbble mr-3"></i>
    </a>
    <a href="https://pinterest.com/mdbootstrap" target="_blank">
      <i class="fa fa-pinterest mr-3"></i>
    </a>
    <a href="https://github.com/mdbootstrap/bootstrap-material-design" target="_blank">
      <i class="fa fa-github mr-3"></i>
    </a>
    <a href="http://codepen.io/mdbootstrap/" target="_blank">
      <i class="fa fa-codepen mr-3"></i>
    </a>
  </div>
  <div class="footer-copyright py-3">
    © 2018 Copyright:
  </div>
</footer>