<div class="row">
  <div class="col-sm-12">
    <h3>Sub Category</h3>
  </div>
  <a routerLink="/admin/sub-categories" class="btn btn-info">Back</a>
</div>
<div class="row">
  <div class="col-sm-6">
    Category:
  </div>
  <div class="col-sm-6">
    {{sub_category.category}}
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    Sub Category:
  </div>
  <div class="col-sm-6">
    {{sub_category.sub_category}}
  </div>
</div>