<div class="row">
  <div class="col-sm-12">
    <h3>Payment</h3>
  </div>
  <a routerLink="/admin/payments" class="btn btn-info">Back</a>
</div>
<div class="row">
  <div class="col-sm-6">
    Payment Number
  </div>
  <div class="col-sm-6">
    {{payment.payment_number}}
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    Order Number
  </div>
  <div class="col-sm-6">
    {{payment.order_number}}
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    Brand
  </div>
  <div class="col-sm-6">
    {{payment.brnad}}
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    Last4 Card Digits
  </div>
  <div class="col-sm-6">
    {{payment.last4}}
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    Card Type
  </div>
  <div class="col-sm-6">
    {{payment.card_type}}
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    Expiry Month
  </div>
  <div class="col-sm-6">
    {{payment.exp_month}}
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    Expiry Year
  </div>
  <div class="col-sm-6">
    {{payment.exp_year}}
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    Card Id
  </div>
  <div class="col-sm-6">
    {{payment.card_id}}
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    Token Id
  </div>
  <div class="col-sm-6">
    {{payment.token_id}}
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    Total Price
  </div>
  <div class="col-sm-6">
    ${{payment.total_price}}
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    Payment Status
  </div>
  <div class="col-sm-6">
    {{payment.status === 1 ? 'Successed' : 'Failed'}}
  </div>
</div>