<main class="mt-5 pt-4">
  <div class="container wow fadeIn">
    <!-- Heading -->
    <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">
      <div class="col-sm-12 text-center">
        <h2>SIGN UP</h2>
      </div>
    </nav>
    <!--Grid row-->
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="card">
          <form class="card-body" #signup_user="ngForm" (ngSubmit)="on_signup_submit(signup_user.value)">
            <div class="row">
              <div class="col-md-6">
                <div class="md-form">
                  <input type="text" id="sign_up_fname" name="sign_up_fname" class="sign_up_fname form-control" #sign_up_fname="ngModel" [(ngModel)]="user == null ? '' : user.first_name"
                    required maxlength="50">
                  <label for="sign_up_fname" class="">First Name
                    <i class="mob_msg">*</i>
                  </label>
                </div>
                <div *ngIf="sign_up_fname.touched">
                  <div *ngIf="sign_up_fname.errors?.required" class="error-alert">
                    <i>Please enter First Name.</i>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="md-form">
                  <input type="text" id="sign_up_lname" name="sign_up_lname" class="sign_up_lname form-control" #sign_up_lname="ngModel" [(ngModel)]="user == null ? '' : user.last_name"
                    required maxlength="50">
                  <label for="sign_up_lname" class="">Last Name
                    <i class="mob_msg">*</i>
                  </label>
                </div>
                <div *ngIf="sign_up_lname.touched">
                  <div *ngIf="sign_up_lname.errors?.required" class="error-alert">
                    <i>Please enter Last Name.</i>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="md-form">
                  <input type="text" id="sign_up_email" name="sign_up_email" class="sign_up_email form-control" #sign_up_email="ngModel" [(ngModel)]="user == null ? '' : user.email"
                    required maxlength="50" pattern="^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$">
                  <label for="sign_up_email" class="">Email
                    <i class="mob_msg">*</i>
                  </label>
                </div>
                <div *ngIf="sign_up_email.touched">
                  <div *ngIf="sign_up_email.errors?.required" class="error-alert">
                    <i>Please enter Email.</i>
                  </div>
                  <div *ngIf="sign_up_email.errors?.pattern" class="error-alert">
                    <i>Please enter valid Email.</i>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="md-form">
                  <input type="text" id="sign_up_mobile_no" name="sign_up_mobile_no" class="sign_up_mobile_no form-control" #sign_up_mobile_no="ngModel"
                    [(ngModel)]="user == null ? '' : user.mobile_no" pattern="^([1-9][0-9]*)$" required maxlength="20">
                  <label for="sign_up_mobile_no" class="">Mobile No
                    <i class="mob_msg">*</i>
                  </label>
                </div>
                <div *ngIf="sign_up_mobile_no.touched">
                  <div *ngIf="sign_up_mobile_no.errors?.required" class="error-alert">
                    <i>Please enter Mobile Number.</i>
                  </div>
                  <div *ngIf="sign_up_mobile_no.errors?.pattern" class="error-alert">
                    <i>Please enter only numeric values.</i>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="md-form">
                  <input type="text" id="sign_up_dob" name="sign_up_dob" class="sign_up_dob form-control" #sign_up_dob="ngModel" [(ngModel)]="user == null ? '' : user.dob"
                    required>
                  <!-- <label for="sign_up_dob" class="">Date of Birth
                    <i class="mob_msg">*</i>
                  </label> -->
                </div>
                <div *ngIf="sign_up_dob.touched">
                  <div *ngIf="sign_up_dob.errors?.required" class="error-alert">
                    <i>Please enter Date of Birth.</i>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="md-form">
                  <div class="form-group" style="margin-left: 22px;" [class.has-error]="sign_up_gender.touched">
                    <label>Gender
                      <i class="mob_msg">*</i>
                    </label>
                    <br>
                    <br>
                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" class="custom-control-input sign_up_gender" value="male" #sign_up_gender="ngModel" id="gender1" name="sign_up_gender"
                        [(ngModel)]="user == null ? '' : user.gender" required>
                      <label class="custom-control-label" for="gender1">Male</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline" style="margin-left: 100px;">
                      <input type="radio" class="custom-control-input sign_up_gender" value="female" #sign_up_gender="ngModel" id="gender2" name="sign_up_gender"
                        [(ngModel)]="user == null ? '' : user.gender" required>
                      <label class="custom-control-label" for="gender2">Female</label>
                    </div>
                  </div>
                </div>
                <div *ngIf="sign_up_gender.touched">
                  <div *ngIf="sign_up_gender.errors?.required" class="error-alert">
                    <i>Gender is required.</i>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="md-form">
                  <div class="form-group">
                    <label for="product-image">Profile Picture</label>
                    <br>
                    <br>
                    <span class="btn btn-primary btn-file">
                      Browse
                      <input type="file" class="form-control prod_prev_image" id="prod_prev_image" (change)="user_prof_image($event)">
                    </span>
                  </div>
                </div>
                <div *ngIf="_user_img !== null" class="success-alert">
                  <i>{{_user_img}}</i>
                </div>
                <br>
                <div *ngIf="_user_img_type_error !== null" class="error-alert">
                  <i>{{_user_img_type_error}}</i>
                </div>
                <br>
                <div *ngIf="_user_img_size_error !== null" class="error-alert">
                  <i>{{_user_img_size_error}}</i>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="md-form">
                  <input type="password" id="sign_up_password" name="sign_up_password" maxlength="15" class="sign_up_password form-control"
                    required #sign_up_password="ngModel" [(ngModel)]="user == null ? '' : user.password">
                  <label for="sign_up_password" class="">Password
                    <i class="mob_msg">*</i>
                  </label>
                </div>
                <div *ngIf="sign_up_password.touched">
                  <div *ngIf="sign_up_password.errors?.required" class="error-alert">
                    <i>Please enter Password.</i>
                  </div>
                  <div *ngIf="sign_up_password.errors?.pattern" class="error-alert">
                    <i>Please enter valid Password.</i>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="md-form">
                  <input type="password" id="sign_up_confirm_password" name="sign_up_confirm_password" maxlength="15" class="sign_up_confirm_password form-control"
                    required validateEqual="sign_up_password" #sign_up_confirm_password="ngModel" [(ngModel)]="user == null ? '' : user.password">
                  <label for="sign_up_confirm_password" class="">Confirm Password
                    <i class="mob_msg ">*</i>
                  </label>
                </div>
                <div *ngIf="sign_up_confirm_password.touched">
                  <div *ngIf="sign_up_confirm_password.errors?.required" class="error-alert">
                    <i>Please enter Confirm Password.</i>
                  </div>
                  <br>
                  <div [hidden]="sign_up_confirm_password.valid" class="error-alert">
                    <i>Confirm password does not matched with password.</i>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="md-form">
                  <textarea id="sign_up_address" name="sign_up_address" #sign_up_address="ngModel" [(ngModel)]="user == null ? '' : user.address"
                    class="md-textarea form-control sign_up_address"></textarea>
                  <label for="sign_up_address" class=" ">Address</label>
                </div>
              </div>
            </div>
            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="signup_user.invalid || _user_img_error">SIGN
              UP</button>
          </form>
        </div>
      </div>
      <div class="col-md-2 "></div>
    </div>
  </div>
</main>