<div class="row">
  <div class="col-sm-12">
    <h3>Category</h3>
  </div>
  <a routerLink="/admin/categories" class="btn btn-info">Back</a>
</div>
<div class="row">
  <div class="col-sm-6">
    Name
  </div>
  <div class="col-sm-6">
    {{category.name}}
  </div>
</div>