<div class="row">
  <div class="col-sm-12">
    <div>
      <h1>New Sub Category</h1>
    </div>
    <a routerLink="/admin/sub-categories" class="btn btn-info">Back</a>
    <form class="card-body" #sub_category_form="ngForm" (ngSubmit)="onSubCategoryFormSubmit(sub_category_form.value)">
      <input type="hidden" class="form-control" name="id" [(ngModel)]="sub_category === null ? '' : sub_category.id">
      <div class="row">
        <div class="col-md-12">
          <div class="md-form">
            <select class="browser-default form-control" name="category_id" #category_id="ngModel" id="category_id" [(ngModel)]="sub_category === null ? '' : sub_category.category_id"
              required>
              <option value="" selected>Choose Category
                <i class="mob_msg">*</i>
              </option>
              <option *ngFor="let category of categories" value="{{category.id}}">
                {{category.name}}
              </option>
            </select>
          </div>
          <div *ngIf="category_id.touched">
            <div *ngIf="category_id.errors?.required" class="error-alert">
              <i>Please select Category.</i>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="md-form">
            <input type="text" id="category_name" name="category_name" class="category_name form-control" #category_name="ngModel" [(ngModel)]="sub_category === null ? '' : sub_category.name"
              required maxlength="50">
            <label for="category_name" class="">Sub Category
              <i class="mob_msg">*</i>
            </label>
          </div>
          <div *ngIf="category_name.touched">
            <div *ngIf="category_name.errors?.required" class="error-alert">
              <i>Please enter Sub Category.</i>
            </div>
          </div>
        </div>
      </div>
      <hr class="mb-4">
      <button class="btn btn-info btn-lg btn-block" type="submit" [disabled]="sub_category_form.invalid">Submit</button>
    </form>
  </div>
</div>