<div class="row">
  <div class="col-sm-12">
    <div>
      <h1>New Product</h1>
    </div>
    <a routerLink="/admin/products" class="btn btn-info">Back</a>
    <form class="card-body" #product_form="ngForm" (ngSubmit)="onProductFormSubmit(product_form.value)">
      <input type="hidden" class="form-control" name="id" #id="ngModel" [(ngModel)]="product === null ? '' : product.id">
      <div class="row">
        <div class="col-md-6">
          <div class="md-form">
            <input type="text" id="product_name" name="product_name" class="product_name form-control" #product_name="ngModel" [(ngModel)]="product === null ? '' : product.name"
              required maxlength="100">
            <label for="product_name" class="">Product Name
              <i class="mob_msg">*</i>
            </label>
          </div>
          <div *ngIf="product_name.touched">
            <div *ngIf="product_name.errors?.required" class="error-alert">
              <i>Please enter Product Name.</i>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="md-form">
            <input type="number" id="product_max_qty" name="product_max_qty" min="1" class="product_max_qty form-control" #product_max_qty="ngModel"
              [(ngModel)]="product === null ? '' : product.max_quantity" required maxlength="50">
            <label for="product_max_qty" class="">Product Max. Quantity
              <i class="mob_msg">*</i>
            </label>
          </div>
          <div *ngIf="product_max_qty.touched">
            <div *ngIf="product_max_qty.errors?.required" class="error-alert">
              <i>Please enter Maximum Quantity.</i>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="md-form">
            <select class="browser-default form-control" name="product_category_id" #product_category_id="ngModel" (change)="getSubCategories($event)"
              id="category_id" [(ngModel)]="product === null ? '' : product.category_id" required>
              <option value="" selected>Choose Category
                <i class="mob_msg">*</i>
              </option>
              <option *ngFor="let category of categories" value="{{category.id}}">
                {{category.name}}
              </option>
            </select>
          </div>
          <div *ngIf="product_category_id.touched">
            <div *ngIf="product_category_id.errors?.required" class="error-alert">
              <i>Please select Category.</i>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="md-form">
            <select class="browser-default form-control" name="product_sub_category_id" #product_sub_category_id="ngModel" id="product_sub_category_id"
              [(ngModel)]="product === null ? '' : product.sub_category_id">
              <option value="" selected>Choose Sub Category
                <i class="mob_msg">*</i>
              </option>
              <option *ngFor="let sub_category of sub_categories" value="{{sub_category[0]}}">
                {{sub_category[1]}}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="md-form">
            <input type="number" id="product_rating" name="product_rating" min="1" max="5" class="product_rating form-control" #product_rating="ngModel"
              [(ngModel)]="product === null ? '' : product.rating" pattern="[1-5]">
            <label for="product_rating" class="">Product Rating</label>
          </div>
          <div *ngIf="product_rating.touched">
            <div *ngIf="product_rating.errors?.pattern" class="error-alert">
              <i>Please enter valid rating.</i>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="md-form">
            <input type="number" id="product_price" name="product_price" step="0.01" min="1" class="product_price form-control" #product_price="ngModel"
              [(ngModel)]="product === null ? '' : product.price" required maxlength="10">
            <label for="product_price" class="">Product Price($)
              <i class="mob_msg">*</i>
            </label>
          </div>
          <div *ngIf="product_price.touched">
            <div *ngIf="product_price.errors?.required" class="error-alert">
              <i>Please enter Product Price.</i>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="md-form">
            <input type="text" id="product_brand" name="product_brand" class="product_brand form-control" #product_brand="ngModel" [(ngModel)]="product === null ? '' : product.brand"
              maxlength="50">
            <label for="product_brand" class="">Product Brand Name</label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="md-form">
            <input type="number" id="product_offer" name="product_offer" min="1" class="product_max_qty form-control" #product_max_qty="ngModel"
              [(ngModel)]="product === null ? '' : product.off" maxlength="3">
            <label for="product_max_qty" class="">Product Offer(%)</label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="md-form">
            <div class="form-group">
              <label for="product-image">Product Picture</label>
              <br>
              <br>
              <span class="btn btn-primary btn-file">
                Browse
                <input type="file" class="form-control prod_prev_image" id="prod_prev_image" (change)="product_image($event)">
              </span>
              <br>
              <br>
              <div *ngIf="_prod_img !== null" class="success-alert">
                <i>{{_prod_img}}</i>
              </div>
              <br>
              <div *ngIf="_prod_img_type_error !== null" class="error-alert">
                <i>{{_prod_img_type_error}}</i>
              </div>
              <br>
              <div *ngIf="_prod_img_size_error !== null" class="error-alert">
                <i>{{_prod_img_size_error}}</i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="md-form">
            <textarea id="product_description" name="product_description" #product_description="ngModel" [(ngModel)]="user == null ? '' : user.description"
              class="md-textarea form-control product_description"></textarea>
            <label for="product_description" class="">Product Description</label>
          </div>
        </div>
      </div>
      <hr class="mb-4">
      <button class="btn btn-info btn-lg btn-block" type="submit" [disabled]="product_form.invalid || _prod_img_error">Submit</button>
    </form>
  </div>
</div>