<main class="mt-5 pt-4">
  <div class="container wow fadeIn">
    <!-- Heading -->
    <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">
      <div class="col-sm-12 text-center">
        <h2>PAGE NOT FOUND</h2>
      </div>
    </nav>
    <!--Grid row-->
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="card">
          <img src="../../assets/img/page_not_found.png" alt="page_not_found">
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</main>