<div class="row" *ngIf="_loading">
  <div class="col-sm-12">
    <div class="text-center">
      <img src="../../../assets/img/loader.gif" alt="Loading..." style="width: 150px;">
    </div>
  </div>
</div>
<div class="row" *ngIf="!_loading">
  <div class="col-sm-12">
    <table class="table table-striped" id="users_list">
      <thead class="blue-grey lighten-4">
        <tr>
          <th>
            <b>Id</b>
          </th>
          <th>
            <b>First Name</b>
          </th>
          <th>
            <b>Last Name</b>
          </th>
          <th>
            <b>Email</b>
          </th>
          <th>
            <b>Mobile No.</b>
          </th>
          <th>
            <b>Edit/View/Delete</b>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <th>{{user.id}}</th>
          <td>{{user.first_name}}</td>
          <td>{{user.last_name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.mobile_no}}</td>
          <td>
            <a href="#" class="btn-floating btn-sm purple-gradient">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
            <a href="#" class="btn-floating btn-sm blue-gradient">
              <i class="fa fa-user" aria-hidden="true"></i>
            </a>
            <a href="#" class="btn-floating btn-sm peach-gradient">
              <i class="fa fa-times" aria-hidden="true"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>