<main class="mt-5 pt-4">
  <div class="container wow fadeIn">
    <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">
      <div class="col-sm-12 text-center">
        <h2>CART</h2>
      </div>
    </nav>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card">
            <div class="card-body">
              <div *ngIf="cart_items === null" class="text-center">
                <img src="../../../assets/img/empty_cart.png" alt="empty_cart.png">
              </div>
              <div *ngIf="cart_items !== null" class="table-responsive">
                <table class="table product-table animated shake">
                  <thead class="mdb-color lighten-5">
                    <tr>
                      <th class="font-weight-bold">
                        <strong>Product Image</strong>
                      </th>
                      <th class="font-weight-bold">
                        <strong>Name</strong>
                      </th>
                      <th></th>
                      <th class="font-weight-bold">
                        <strong>Price</strong>
                      </th>
                      <th class="font-weight-bold">
                        <strong>QTY</strong>
                      </th>
                      <th class="font-weight-bold">
                        <strong>Amount</strong>
                      </th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let cart_item of cart_items">
                      <th scope="row">
                        <a routerLink="/user/product-details/{{cart_item.id}}">
                          <img src="{{cart_item.image}}" alt="{{cart_item.image_file_name}}" class="img-fluid z-depth-0">
                        </a>

                      </th>
                      <td>
                        <h5 class="mt-3">
                          <strong>{{cart_item.name}}</strong>
                        </h5>
                        <p class="text-muted">{{cart_item.brand}}</p>
                      </td>
                      <td></td>
                      <td>
                        <h5>${{cart_item.price}}</h5>
                      </td>
                      <td>
                        <input type="number" min="1" max="10" value="{{cart_item.quantity}}" aria-label="Search" class="form-control" style="width: 100px"
                          onkeydown="return false" (input)="increaseQuantity($event.target.value, cart_item)">
                      </td>
                      <td class="font-weight-bold">
                        <h5>
                          <strong>${{cart_item.tot_price}}</strong>
                        </h5>
                      </td>
                      <td>
                        <button type="button" class="btn btn-sm red" data-toggle="tooltip" data-placement="top" title="Remove item" (click)="removeItem(cart_item.id)">X
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="3"></td>
                      <td>
                        <h4 class="mt-2">
                          <strong>Total</strong>
                        </h4>
                      </td>
                      <td class="text-right">
                        <h4 class="mt-2">
                          <strong>${{total_prise}}</strong>
                        </h4>
                      </td>
                      <td colspan="3" class="text-right">
                        <button type="button" class="btn btn-primary btn-rounded" (click)="placeOrder()">Place Order
                          <i class="fa fa-angle-right right"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</main>