<main class="mt-5 pt-4">
  <div class="container wow fadeIn">
    <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">
      <div class="col-sm-12 text-center">
        <h2>RESET PASSWORD</h2>
      </div>
    </nav>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="card">
          <form class="card-body" #frm_reset_password="ngForm" (ngSubmit)="onResetPassword(frm_reset_password.value)">
            <div class="row">
              <div class="col-md-6">
                <div class="md-form">
                  <input type="password" id="reset_password" name="reset_password" maxlength="15" class="reset_password form-control" required
                    #reset_password="ngModel" [(ngModel)]="user == null ? '' : user.password">
                  <label for="reset_password" class="">Password
                    <i class="mob_msg">*</i>
                  </label>
                </div>
                <div *ngIf="reset_password.touched">
                  <div *ngIf="reset_password.errors?.required" class="error-alert">
                    <i>Please enter Password.</i>
                  </div>
                  <div *ngIf="reset_password.errors?.pattern" class="error-alert">
                    <i>Please enter valid Password.</i>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="md-form">
                  <input type="password" id="reset_confirm_password" name="reset_confirm_password" maxlength="15" class="reset_confirm_password form-control"
                    required validateEqual="reset_password" #reset_confirm_password="ngModel" [(ngModel)]="user == null ? '' : user.password">
                  <label for="reset_confirm_password" class="">Confirm Password
                    <i class="mob_msg ">*</i>
                  </label>
                </div>
                <div *ngIf="reset_confirm_password.touched">
                  <div *ngIf="reset_confirm_password.errors?.required" class="error-alert">
                    <i>Please enter Confirm Password.</i>
                  </div>
                  <br>
                  <div [hidden]="reset_confirm_password.valid" class="error-alert">
                    <i>Confirm password does not matched with password.</i>
                  </div>
                </div>
              </div>
            </div>
            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="frm_reset_password.invalid">Submit</button>
          </form>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</main>

<!-- Modal -->
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Forgot Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="card-body" #forgot_password="ngForm" (ngSubmit)="on_forgot_password_submit(forgot_password.value)">
          <div class="row">
            <div class="col-md-12">
              <div class="md-form">
                <input type="text" id="fp_email" name="fp_email" class="fp_email form-control" #fp_email="ngModel" ngModel required maxlength="50"
                  pattern="^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$">
                <label for="fp_email" class="">Email
                  <i class="mob_msg">*</i>
                </label>
              </div>
              <div *ngIf="fp_email.touched">
                <div *ngIf="fp_email.errors?.required" class="error-alert">
                  <i>Please enter Email.</i>
                </div>
                <div *ngIf="fp_email.errors?.pattern" class="error-alert">
                  <i>Please enter valid Email.</i>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" [disabled]="forgot_password.invalid">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>