<div class="row" *ngIf="_loading">
  <div class="col-sm-12">
    <div class="text-center">
      <img src="../../../assets/img/loader.gif" alt="Loading..." style="width: 150px;">
    </div>
  </div>
</div>
<div class="row" *ngIf="!_loading">
  <div class="col-sm-12">
    <div>
      <h1>Categories</h1>
    </div>
    <a routerLink="/admin/categories/new" class="btn btn-info">New Category</a>
    <table class="table table-striped" id="categories_list">
      <thead class="blue-grey lighten-4">
        <tr>
          <th>
            <b>Id</b>
          </th>
          <th>
            <b>Category</b>
          </th>
          <th>
            <b>Edit / View / Delete</b>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories">
          <th>{{category.id}}</th>
          <td>{{category.name}}</td>
          <td>
            <a routerLink="/admin/categories/edit/{{category.id}}" class="btn-floating btn-sm index_edit">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
            <a routerLink="/admin/categories/show/{{category.id}}" class="btn-floating btn-sm index_show">
              <i class="fa fa-user" aria-hidden="true"></i>
            </a>
            <a href="javascript:void(0)" (click)=delete_category(category.id) class="btn-floating btn-sm index_delete">
              <i class="fa fa-times" aria-hidden="true"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>