<div class="row" *ngIf="_loading">
  <div class="col-sm-12">
    <div class="text-center">
      <img src="../../../assets/img/loader.gif" alt="Loading..." style="width: 150px;">
    </div>
  </div>
</div>
<div class="row" *ngIf="!_loading">
  <div class="col-sm-12">
    <div>
      <h1>Products</h1>
    </div>
    <a routerLink="/admin/products/new" class="btn btn-info">New Product</a>
    <table class="table table-striped" id="products_list">
      <thead class="blue-grey lighten-4">
        <tr>
          <th>
            <b>Id</b>
          </th>
          <th>
            <b>Product Name</b>
          </th>
          <th>
            <b>Product Description</b>
          </th>
          <th>
            <b>Edit / View / Delete</b>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <th>{{product.id}}</th>
          <td>{{product.name}}</td>
          <td>{{product.description}}</td>
          <td>
            <a routerLink="/admin/products/edit/{{product.id}}" class="btn-floating btn-sm index_edit">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
            <a routerLink="/admin/products/show/{{product.id}}" class="btn-floating btn-sm index_show">
              <i class="fa fa-user" aria-hidden="true"></i>
            </a>
            <a href="javascript:void(0)" (click)=delete_product(product.id) class="btn-floating btn-sm index_delete">
              <i class="fa fa-times" aria-hidden="true"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>