<div class="row" *ngIf="_loading">
  <div class="col-sm-12">
    <div class="text-center">
      <img src="../../../assets/img/loader.gif" alt="Loading..." style="width: 150px;">
    </div>
  </div>
</div>
<div class="row" *ngIf="!_loading">
  <div class="col-sm-12">
    <div>
      <h1>Payments</h1>
    </div>
    <table class="table table-striped" id="payments_list">
      <thead class="blue-grey lighten-4">
        <tr>
          <th>
            <b>Id</b>
          </th>
          <th>
            <b>Payment Id</b>
          </th>
          <th>
            <b>Order Id</b>
          </th>
          <th>
            <b>View</b>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let payment of payments">
          <th>{{payment.id}}</th>
          <td>{{payment.payment_number}}</td>
          <td>{{payment.order_number}}</td>
          <td>
            <a routerLink="/admin/payments/show/{{payment.id}}" class="btn-floating btn-sm index_show">
              <i class="fa fa-user" aria-hidden="true"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>